<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta content="memo.pw 以人为本，简单好用的团队协作工具" name="description">
<title>memo.pw 以人为本，简单好用的团队协作工具</title>
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />
<style type="text/css">
body {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
  width: 302px;
  height: 60px;
  margin: 0 auto 30px;
}

.form-sign {
  width: 300px;
  margin: 0 auto 50px;
}

input[type="text"],
input[type="password"] {
  height: 50px;
  font-size: 20px;
  padding: 8px 6px 5px;
}

.space {
  padding-top: 20px;
}
</style>
</head>

<body>
  <div class="container">
    <div class="logo">
      <img src="../static/images/logo.png" />
    </div>
    <div class="form-sign">
      <form action="/login" method="post">
        <fieldset>
          <input type="text" placeholder="公司名称或团队名称" name="team_name" class="input-block-level">
          <input type="text" placeholder="你的邮箱地址" name="email" class="input-block-level">
          <input type="password" placeholder="设置一个密码" name="password" class="input-block-level">
          <button type="button" class="btn btn-large btn-success btn-block btn-primary">注册</button>
        </fieldset>
      </form>

      <p class="muted" align="center">
        <small>点击注册表示您已阅读并同意<a href="/agreement" class="muted">《memo.pw 服务条款》</a></small>
      </p>

      <hr>
      <p class="muted" align="center">
        已有账号？<a href="/sign_up">立即登录 →</a>
      </p>

      <br />
      <p class="clearfix muted" align="center">
        <small>Powered by web.py + Jinja2. <br/> 
        <a href="http://www.debugman.com" target="_blank" class="muted">© 第8个男人</a></small>
      </p>

    </div>
  </div>
</body>
</html>
